.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  background-color: rgb(52, 52, 52);
  z-index: 2;
}

.alignLeft {
  float: left;
}

.alignRight {
  float: right;
}
