.dropdown {
  margin: 10px 6px;
  display: inline-block;
}

.dropdownButton {
  color: white;
  font-size: 15px;
  border: 1px solid rgb(140, 140, 140);
  width: 120px;
  cursor: default;
}

.dropdownButton:hover {
  color: #33C3F0;
}

.dropdownContent {
  display: none;
  position: absolute;
  padding-top: 12px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  color: white;
  width: 120px; 
  box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.dropdownOption {
  letter-spacing: 1.5px;
  background-color: #33C3F0;
  opacity: 0.85;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.firstOption {
  border-radius: 5px 5px 0 0;
}

.lastOption {
  border-radius: 0 0 5px 5px;
}

.dropdownOption:hover {
  opacity: 1;
}

.dropdown:hover .dropdownContent {
  display: block;
}
