@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,600);

body {
  text-align: center;
  background-image: url('/static-assets/images/subtle_dots_@2X.png');
}

.title {
  padding: 40px 0 20px 0;
  margin-top: 10%;
}