@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,600);

body {
  text-align: center;
  background-image: url('/static-assets/images/subtle_dots_@2X.png');
}

.title {
  font-size: 60px;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 40px 0 20px 0;
  margin-top: 10%;
  color: rgb(60, 60, 60);
}

button.start-drawing {
  display: inline-block;
  font-size: 12px;
  color: rgb(245, 245, 245);
  background-color: rgb(60, 60, 60);
  border: 1px solid rgb(140, 140, 140);
  height: 45px;
  cursor: pointer;
}

button.start-drawing:hover, .start-drawing:focus {
  color: #33C3F0;
  background-color: rgb(30, 30, 30);
}