<h1 class="title">boardsession</h1>
<h2 class="subtitle">a service by <a href="http://github.com/jackrzhang" target="_blank">jackrzhang</a></h2>
<div>
  <button class="start-drawing button-primary">Start Drawing</button>
</div>

<script src="/static-assets/js/landing.js"></script>
