@import url(https://fonts.googleapis.com/css?family=Raleway:300,500,600);

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  color: rgb(25, 25, 25);
  font-family: 'Raleway', 'Arial';
  overflow: hidden;
  background-image: url('/static-assets/images/subtle_dots_@2X.png');
}

div.app {
  margin: 0;
}

h1.title {
  font-weight: 400;
  font-size: 30px;
}

h2.subtitle {
  font-size: 18px;
  font-weight: 400;
}